body {
  margin: 0;
  text-align: center;
  font-family: "Signika", sans-serif;
}

.welcome-header {
  display: block;
  margin: auto;
  width: 720px;
  height: 343px;
  background-image: url("file:///C:/Users/Buhle/Desktop/pexels-stephanlouis-19772226.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 20px;
  margin-bottom: 0;
}
#activities {
  display: block;
  margin: 0 auto;
  width: 720px;
  height: 373px;
  background: #219ebc;
  position: relative;
  top: 0px;
}
img {
  width: 100px;
}
